Checks: >
  *,
  -llvmlibc-*,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -altera-unroll-loops,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -google-default-arguments,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner
WarningsAsErrors: ''
HeaderFilterRegex: '/(src|include)'
